.category_list__body {
   overflow: scroll;
   height: 50rem;
   -ms-overflow-style: none;
   scrollbar-width: none;
   border: 1px solid #61dafb;
   width: 15rem;
}

.category_list__body::-webkit-scrollbar {
   display: none;
}

.category_list__title {
   font-size: 1.6rem;
   padding-bottom: 10px;
}

@media (max-width:460px) {
   .category_list__body ul {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
   }

   .category_list__body {
      height: 25rem;
      width: 100%;
   }

   .items_page {
      flex-direction: column;
   }
}