.card {
  margin: 2%;
  border: 1px solid #61dafb;
  transition: box-shadow 180ms ease-out;
  min-width: 235px;
  height: 325px;
  display: flex;
  flex-direction: column;
}

.card__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card__image {
  background-color: #282c34;
  padding: 0 10px;
}

.card__title {
  font-size: 1.8rem;
  text-align: center;
  background-color: hsl(222, 14%, 10%);
  padding: 10px 1px;
}

.card:hover {
  box-shadow: 0 0 0 2px #61dafb;
  /* border: 2px solid #61dafb; */
}

.card__body__buttons {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  
}

.card__body__buttons>button {
  background-color: hsl(222, 14%, 10%);
  color: #61dafb;
  padding: 0.3rem;
  font-size: 1.25rem;
}

.card:last-child{
  align-content: end;
}