.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.8rem;
  padding-bottom: 1rem;
  max-width: 90%;
  margin: auto;
}

.header-bg {
  background-color: hsl(222, 14%, 10%);
}

.header__title {
  color: #61dafb;
  font-size: 36px;
  padding: 5px 10px 0 10px;
}

.header__navbar {
  color: white;
  font-size: 24px;
}

.navbar__list {
  display: flex;
  flex-direction: row;
}

.navbar__item:first-child {
  margin: 0 0 0 10px;
}

.navbar__item:last-child {
  margin: 0 10px;
}

.navbar__item:not(:last-child) {
  margin: 0 10px;
}

a:-webkit-any-link {
  color: inherit;
}

.header__search {
  margin-left: auto;
  display: none;
  align-items: center;
}

.search__input {
  border-radius: 0.25rem;
  font-size: 1.4rem;
  margin: 0 10px;
  padding: 0.375rem 0.75rem;
}

.search__button {
  border-radius: 0.25rem;
  font-size: 1.4rem;
  padding: 0.375rem 0.75rem;
  background-color: transparent;
  color: #61dafb;
  border: 1px solid #61dafb;
}

li.navbar__item {
  background-color: transparent;
}

.switch_show_navbar__button {
  display: none;
  font-size: 27px;
}

/*      */

@media (min-width:769px) {
  .navbar__item.hidden {
    display: block;
  }

  .search__input_form.hidden {
    display: block;
  }

  .search__button.hidden {
    display: block;
  }

  .header__navbar.hidden {
    display: block;
  }

  .header__search.hidden {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width:768px) {
  .header__search:not(.hidden) {
    display: flex;
    flex-direction: row;
  }

  .header__title {
    font-size: 27px;
  }

  .navbar__list {
    flex-direction: column;
  }

  .navbar__item {
    padding: 0.4rem 0;
    width: 40rem;
  }

  .header {
    flex-wrap: wrap;
    max-width: 95%;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
  }

  .search__button {
    font-size: 18px;
  }

  .search__input {
    width: 14rem;
  }

  .switch_show_navbar__button {
    display: block;

  }

  .header__navbar {
    margin-bottom: 0.7rem;
  }
}

/* @media (max-width:480px) {
  .header__title {
    font-size: 24px;
  }

  .header__navbar {
    font-size: 16px;
  }

  .search__button {
    font-size: 16px;
  }

  .header__title {
    padding: 0 5px;
  }

  .search__input {
    font-size: 16px;
    margin: 0 5px;
  }

  .dropdown__input {
    left: -110%;
  }

  .navbar__item:not(:last-child) {
    margin: 0 5px;
  }

  .navbar__item:last-child {
    margin: 0 10px 0 5px;
  }
} */