* {
  margin: 0;
  padding: 0;
  border: 0;
}

.app {
  background-color: #20232a;
  min-height: 100vh;
  height: 100%;
  color: white;
}

.body {
  background-color: #282c34;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

._container {
  max-width: 90%;
  margin: 0 auto;
  height: 100%;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  transition: 0.1s;
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.row {
  display: flex;
  flex-direction: row;
}

button {
  background-color: hsl(222, 14%, 10%);
  color: #61dafb;
  padding: 0.3rem;
  font-size: 1.5rem;
}

.space_between{
  justify-content: space-between;
}