.ability__body{
   padding: 5px;
   color:#a9edff;
   font-size: 16px;
   line-height: 1.5rem;
   display: flex;
   flex-direction: column;
}

.ability__button {
   font-size: 1.15rem;
   width: 5rem;
   align-self: flex-end;  
}