.sort__dropdown {
   position: relative;
}

.dropdown_menu {
   position: absolute;
   font-size: 1.25rem;
   left: 0;
   top: calc(100% + 0.1rem);
   /* background-color: hsl(222deg 14% 10%); */
   color: white;
   padding-top: .5rem;
   opacity: 0;
   transition: all 150ms ease-in-out;
   transform: translateY(-10px);
   pointer-events: none;
}


.dropdown.active>button+.dropdown_menu,
.dropdown>ul li:hover+.dropdown_menu {
   opacity: 1;
   transform: translateY(0);
   pointer-events: auto;
   cursor: pointer;
}

.sort__dropdown ul li {
   padding: 10px 40px 9px 20px;
   background-color: hsl(222, 14%, 10%);
   border-bottom: 1px solid transparent;
   width: auto;
}

.sort__dropdown ul{
   border: 1px solid #61dafb;
}

.sort__dropdown ul li:hover {
   color: #61dafb;
   border-bottom: 1px solid #61dafb;
}
